* {
  margin: 0px;
  padding:0px;
  font-family: monospace;
  box-sizing: border-box;
}
.image {
  border-radius: 20%;
  object-fit: cover;
  width: 260px;
  height: 260px;
  display: block;

}

.title {
  margin:50px,50px,10px,50px;
  padding-top: 30px;
  color: black;
  text-align: center;
  /* font-family:'Courier New', Courier, monospace; */
  font-size: 60px;
}

.selectBar{
  /* margin:20px 500px 0px 500px; */
  justify-content: center;
  align-items: center;
  font-size: 15px;
  padding:20px 40%;
}
.formButton{
  margin-top: 2%;
  text-align: center;

}
.addButton {
  background-color: rgb(225, 150, 96);
}

.inputForm{
  text-align: center;
  background-color: bisque;
  width: 50%;
  margin-left: 25%;
}

option{
  text-align: center;
}

.inputDescriptionBox{
  height:200px;
  width: 260px;
}

.pets-container {
 /* display: inline-grid;  */
  /* display:flex; */
  justify-items: center;
  display: grid;
  background-color:rgb(196, 212, 225);
  grid-template-columns: auto auto auto auto;
  grid-gap: 50px;
  padding: 10%;
  margin: 20px 50px;
}

.pets-container > div {
  /* flex:1; */
  /* position:relative; */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2px 0 2px 2px;
  font-size: 15px;
}

/* ////////PET///////// */


.pet-container {
  position:relative;
  display: grid;
  background-color:rgb(196, 212, 225);
  grid-template-columns: auto auto auto auto;
  grid-gap: 50px;
  padding: 100px;
  margin: 110px 150px;
}



.pet-container > img{
  position:relative;
  border-radius: 20%;
  width: 320px;
  height: 320px;
  margin-top: 30px;
}

.pet-imfo > p {
  font-size: 20px;
}

.pet-imfo > h1 {
  position:relative;
  font-size: 35px;
}
.applyButton{
  background-color: aliceblue;
  border-radius: 20%;
  font-size: 15px;
  margin-top: 14%;
  margin-bottom: 165%;
  margin-left: 10%;
  padding: 4%;
  text-align: center;
}



footer{
  margin-top: auto;
  bottom: 0;
  height: 30px;
  text-align: center;
  /* font-family: 'Courier New','Nunito Sans', sans-serif; */
  font-size: 1.2em;
  background-color: rgb(92, 92, 92);
  color: white;
  width: 100%;
}



@media (max-width: 500px)
 {
  body {
    position:absolute;
    padding: 1rem;
  }
  .pets-container > div {
    flex:1;
    /* position:relative; */
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2px 0 2px 2px;
    font-size: 15px;
  }

}


/* @media (min-width: 1200px) {
  .pets-container  {
      max-width: 1140px; }
  
  } */